<a href="" title="Share on Twitter" onclick="window.open('https://twitter.com/home?status={{ page_title }} - {{ page.url | absolute_url }} {% if site.social.twitter %}by @{{ site.social.twitter }}{% endif %}', 'newwindow', 'width=500, height=225'); return false;">
    <span class="icon icon-social-twitter"></span>
</a>
<a href="" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}', 'newwindow', 'width=500, height=500'); return false;">
    <span class="icon icon-social-facebook"></span>
</a>
<a href="" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url={{ page.url | absolute_url }}', 'newwindow', 'width=550, height=400'); return false;">
    <span class="icon icon-social-googleplus"></span>
</a>
<a href="" title="Share on Weibo" onclick="window.open('http://service.weibo.com/share/share.php?url={{ page.url | absolute_url }}&count=1', 'newwindow', 'width=550, height=400'); return false;">
    <span class="fa fa-weibo"></span>
</a>
<a href="" title="Share on Weibo" onclick="window.open('http://service.weibo.com/share/share.php?url={{ page.url | absolute_url }}&count=1', 'newwindow', 'width=550, height=400'); return false;">
    <span class="fa fa-"></span>
</a>